.messageList {
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100vh;
  overflow-y: auto;
  margin-bottom: 40px;
}

.messageRow {
  display: flex;
  justify-content: flex-start; /* Default alignment for otherUser */
  position: relative;
  width: 100%;
  padding: 5px 0; /* Adds spacing between rows */
}

.messageRow:hover .menuIcon {
  opacity: 1; /* Shows the menu icon on row hover */
}

.currentUserRow {
  justify-content: flex-end; /* Aligns currentUser messages to the right */
}

.message {
  position: relative;
  width: 60%;
  max-width: 500px;
  min-width: 200px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 4px 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.currentUser {
  background-color: #d9edf7;
}

.currentUser::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid #d9edf7;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.otherUser {
  background-color: #e9ecef;
}

.otherUser::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid #e9ecef;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.menuIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.currentUserRow:hover .menuIcon {
  left: 50px; /* 50px away from the message container */
}

.otherUserRow:hover .menuIcon {
  right: 50px; /* 50px away from the message container */
}




.menuOptions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 60px; /* Position the menu relative to the message container */
  background-color: rgba(0, 0, 0, 0.8); /* Black background with low opacity */
  color: white; /* White text color */
  border-radius: 5px;
  padding: 10px;
  z-index: 100; /* Ensures it appears on top of other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Adds subtle shadow */
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 120px; /* Ensures enough space for options */
}

.menuOptions button {
  background: none;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.menuOptions button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Highlight on hover */
}












.senderName{
  font-weight: bolder;
}
