/* Input container */
.inputContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* Wrapper for the input and icons */
.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Input field */
.messageInput {
  flex: 1;
  padding: 15px 90px 15px 15px; 
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: white;
}

.messageInput:focus {
  border-color: #007bff;
}


.sendIcon {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.sendIcon:hover {
  transform: scale(1.1);
}

/* Emoji Icon (To the left of the send icon) */
.emojiIcon {
  position: absolute;
  right: 50px; 
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.emojiIcon:hover {
  transform: scale(1.1);
}

/* Emoji Picker Dropdown */
.emojiPicker {
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 3000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.emojiPicker button:hover {
  width: 32px !important;
  height: 32px !important;
  background-color: #f0f0f0 !important;
  border-radius: 50px !important;
  transform: scale(1.2) !important;
  z-index: 3000;
}
