/* ------------------------- */
/* Message List Styles       */
/* ------------------------- */

.messageList {
  padding: 3px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100vh;
  overflow-y: auto;
  margin-bottom: 40px;
}

.messageRow {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 5px 0;
}

.message {
  position: relative;
  width: 60%;
  max-width: 500px;
  min-width: 200px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 4px 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.currentUserRow {
  justify-content: flex-end;
}

.currentUser {
  background-color: #d9edf7;
}

.messageRow .currentUser:hover .menuIcon {
  opacity: 0.7;
  
}

.otherUser {
  background-color: #e9ecef;
}

/* ------------------------- */
/* Menu Icon and Options     */
/* ------------------------- */

.menuIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  left: -30px;
  
  
}


.menuOptions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -130px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 120px;
}

.menuOptions button {
  background: none;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.menuOptions button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Disabled Button */
.disabledButton {
  cursor: not-allowed;
  opacity: 0.5;
}

/* ------------------------- */
/* Sender Name and Timestamp */
/* ------------------------- */

.senderName {
  font-weight: 800;
  font-size: 1rem;
  color: #000;
  margin-bottom: 4px;
}

.timestampHover {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgb(166, 164, 164);
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.messageRow:hover .timestampHover {
  display: block;
}

/* ------------------------- */
/* Edit Popup Styles         */
/* ------------------------- */

.editContainer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.editPopup {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 90%;
  text-align: center;
  position: relative;
}

/* Close Icon for Edit Popup */
.popupCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 0.5px #a0a0a2 solid;
  border-radius: 50%;
  padding: 3px;
}

.popupCloseIcon:hover {
  transform: scale(1.1);
}

/* ------------------------- */
/* Edit Input Styles         */
/* ------------------------- */

.editInput {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 15px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

.editInput:focus {
  border-color: #84cce6;
  box-shadow: 0 0 8px rgba(107, 186, 204, 0.5);
}

/* ------------------------- */
/* Save Button               */
/* ------------------------- */

.saveButton {
  background-color: #8abadc;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.saveButton:hover {
  background-color: #8fd1f4;
  box-shadow: 0 4px 10px rgba(60, 72, 80, 0.4);
}


