/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: white;
  z-index: 1000;
  /* padding:15px 0px ; */
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.roomName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  border-top:0.2px rgb(158, 210, 255) solid;
  padding: 15px 0;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.navButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  flex: 1;
  text-align: center;
  padding:15px 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.navButton:hover {
  color: #0056b3;
}

.navButton.active {
  color: #0056b3;
  font-weight: bolder;
}
.navButton.left {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navButton.right {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navButton.active {
  background-color: rgb(209, 232, 248);
  color: #007bff;
}

.navButton.active.left {
  border-top-right-radius: 20px;
}

.navButton.active.right {
  border-top-left-radius: 20px;
}
