@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Body Styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Headings */
h1, h2, h3 {
  margin: 0;
}

/* Button  Styling */
button {
  min-width: 120px;
  max-width: 200px;
  height: 45px;
  padding: 0 20px;
  border: none;
  background-color: #4c9aee;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
} 

button:hover {
  background-color: #8fd1f4;
  box-shadow: 0 4px 10px rgba(60, 72, 80, 0.4);
}

/* Username Container Styling */
.usernameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.usernameContainer h1 {
  margin-bottom: 20px;
}

.usernameContainer input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* App Container - Global Layout */
.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height layout */
  width: 100vw; /* Full width layout */
  overflow: hidden;
}

/* Desktop Layout */
.appContainer.desktop {
  flex-direction: row; 
}

/* Sidebar Styling */
.sidebarContainer {
  width: 25%;
  height: 100%;
  overflow-y: auto; 
}

/* Content Container Styling */
.contentContainer {
  flex: 1; 
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  overflow-y: auto; 
  position: relative;
}

/* Mobile Layout Adjustments */
.appContainer.mobile {
  flex-direction: column;
}

/* Main Content Styling */
.mainContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
}

/* Utility Classes */
input[type="text"], button {
  font-size: 1rem;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 30px;
}




/* Content styling specific to mobile */
@media (max-width: 768px) {
  .mobileContent {
    padding-top: 150px; /* Push content below the navbar */
  }

  .usernameContainer {
    margin-top: 20px;
  }

  .roomListContainer {
    position: absolute;
    top: 170px; /* Ensure it appears below the navbar */
    left: 0;
    right: 0; /* Align it to fit within the viewport */
    width: 100%; /* Use full width of the parent container */
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box; /* Include padding in width calculation */
    overflow-y: auto; /* Allow scrolling if content exceeds height */
  }
  
}




